<header>
    <div class="header-container" style="padding-top: 0; padding-bottom: 0;">
        <a href="{{ '/' | relative_url }}" style="display: block; width: 100%; height: auto;">
            <img src="https://raw.githubusercontent.com/hhkolberg/hhkolberg.github.io/db5533d5feeea79202889849db68ca6a22b50f6b/BannerGitHub.png" alt="Logo" style="max-height: auto; width: 100%;">
        </a>
    </div>
    <nav style="display: flex; justify-content: center; padding: 0; margin-top: 0; background: transparent; width: 100%;">
        <a href="{{ '/' | relative_url }}" style="color: white; text-decoration: none; padding: 0 10px;">Home</a>
        <span style="color: white; padding: 0 5px;">/</span>
        <a href="{{ '/pages/aboutme' | relative_url }}" style="color: white; text-decoration: none; padding: 0 10px;">AboutMe</a>
        <span style="color: white; padding: 0 5px;">/</span>
        <a href="{{ '/pages/knowledge' | relative_url }}" style="color: white; text-decoration: none; padding: 0 10px;">Knowledge</a>
        <span style="color: white; padding: 0 5px;">/</span>
        <a href="{{ '/blog/' | relative_url }}" style="color: white; text-decoration: none; padding: 0 10px;">Projects</a>
        <span style="color: white; padding: 0 5px;">/</span>
        <a href="{{ '/blog/' | relative_url }}" style="color: white; text-decoration: none; padding: 0 10px;">AllThingsNerdy</a>
        <!-- More navigation items... -->
    </nav>
</header>
