<header>
    <div class="header-container">
        <a href="{{ '/' | relative_url }}"><img src="https://raw.githubusercontent.com/hhkolberg/hhkolberg.github.io/db5533d5feeea79202889849db68ca6a22b50f6b/BannerGitHub.png" alt="Logo" style="max-height: auto; width: 100%;"></a>
    </div>
     <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/about/' | relative_url }}">About</a>
        <a href="{{ '/blog/' | relative_url }}">Blog</a>
        <!-- Add more navigation links as needed -->
    </nav>
</header>
