// Import the base styles from the Hacker theme
@import "hacker";

// Import custom fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.cdnfonts.com/css/arcade-classic');

// Define color scheme and font families
$background-color: #222;
$text-color: #FFF;
$accent-color: #33ff33; // Neon green for the hacker effect
$link-color: #5599ff;
$font-family: 'Saira', sans-serif;
$heading-font-family: 'ArcadeClassic', sans-serif;

// Header specific styles
header {
    width: 100%;
    margin: 0 auto;
    background: url('https://raw.githubusercontent.com/hhkolberg/hhkolberg.github.io/db5533d5feeea79202889849db68ca6a22b50f6b/BannerGitHub.png') no-repeat center center;
    background-size: cover; // Ensure the image covers the header area
    height: 200px; // Fixed height for the header
    
    .header-container {
        width: 100%; // The container inside the header is also full width
        margin: 0;
        padding: 0;
        display: flex; // Use flexbox for centering content
        justify-content: center; // Center content horizontally
        align-items: center; // Center content vertically
    }
    
    img {
        max-width: 100%; // Ensure the image does not exceed the container's width
        max-height: 100%; // The image's height should not exceed the header's height
        display: block;
        margin: 0 auto; // Center the image within the header-container
    }
}

// Navigation styles
nav {
    background: $background-color;
    text-align: center;
    padding: 0.5em 0; // Add padding to the top and bottom of the nav
    
    a {
        color: $link-color;
        margin: 0 15px; // Add margin to the left and right of each link
        text-decoration: none; // Remove underlines from links
        
        &:hover {
            text-decoration: underline; // Add an underline on hover
        }
    }
}

// Global styles
body {
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;
    font-weight: 700;
    margin: 0; // Remove the default margin
    padding: 0; // Remove the default padding
}

// Heading styles
h1, h2 {
    font-family: $heading-font-family;
}

// Rest of your custom SCSS...

// Container styles
.container {
    width: 80%;
    margin: 0 auto; // Center the container
    max-width: 1200px; // Maximum width of the container
}

// Homepage content styles
.homepage-content {
    text-align: center;
    position: relative;
    padding: 2em 0; // Add padding to the top and bottom of the content
}

// Ensure the green accent lines are positioned directly below the header
.homepage-content::before {
    content: "";
    display: block;
    height: 4px;
    background-color: $accent-color; // Use the accent color for the lines
    width: 100%;
}

// Keyframes animation for any elements you want to animate
@keyframes hueShift {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
